<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gid</key>
	<string>398361482981-in05p8hbkfqrvva0gdfq4hqoh053jrbo.apps.googleusercontent.com</string>
	<key>host</key>
	<string>http://68.183.64.146/</string>
</dict>
</plist>
