<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Switches</key>
	<array>
		<dict>
			<key>Key</key>
			<string>Update on startup</string>
			<key>Value</key>
			<true/>
		</dict>
		<dict>
			<key>Key</key>
			<string>Enable dark mode</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Key</key>
			<string>Hide drink ingredients</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Key</key>
			<string>Hide drink recipe</string>
			<key>Value</key>
			<false/>
		</dict>
		<dict>
			<key>Key</key>
			<string>Show rating in homepage</string>
			<key>Value</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
